// Quantum Script Extension URL
// Copyright (c) 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/URL/Library.rh>
#include <XYO/QuantumScript.Extension/URL/Copyright.rh>
#include <XYO/QuantumScript.Extension/URL/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_URL,"quantum-script--url.dll","Quantum Script Extension URL")
